---
import { Image } from 'astro:assets'
import Link from '../components/Link.astro'
import Layout from '../layouts/Layout.astro'

import Yo from '../imgs/yo.jpg'
import Tiktok from '../imgs/Tiktok.svg'
import Instagram from '../imgs/Instagram.svg'
import Spotify from '../imgs/Spotify.svg'
import Cinco from '../imgs/5.svg'
import favicon from '../imgs/myyicon.svg'
import Blog from '../imgs/Blog.svg'

import { ViewTransitions } from 'astro:transitions';

const links = {
	tiktok: 'https://tiktok.com/@_niiico28',
	miweb: 'https://niiico.com',
	ig: 'https://www.instagram.com/_niiico28/',
	podcast: 'https://podcasters.spotify.com/pod/show/nicols-arvalo',
	spotify: 'https://open.spotify.com/show/1gFBa3gI7d9FTKTB6KRY6e',
	blog: 'https://nicolasarevalo.notion.site/Blog-17d1519825de41088f2a38804b4e9bc2',
}
---

<Layout title='links de niiico'>
	<aside class="absolute -top-28 -left-64 opacity-5">
		<Image src={favicon} alt="Mi logo" class="w-54" >
	</aside>
	<header class='animate__animated animate__fadeInUp flex flex-col justify-center gap-4 items-center mt-6 relative z-1'>
		<Image src={Yo} alt='' class='w-[95px] md:w-[150px] rounded-full' />
		<p class='text-3xl md:text-4xl font-semibold text-zinc-50'>Nicolás Arévalo</p>
		<p class='text-lg text-zinc-400'>@_niiico28 • 5MENTARIOS podcast</p>
	</header>
	<main class='animate__animated animate__fadeInUp w-full mt-4 md:mt-8 relative z-1'>
		<Link title='TikTok' logo={Tiktok} link={links.tiktok} />
		<Link title='Instagram' logo={Instagram} link={links.ig} />
		<Link title='Blog' logo={Blog} link={links.blog} />
		<p class='text-xl font-semibold text-zinc-400 text-center'>Podcast</p>
		<Link title='Spotify' logo={Spotify} link={links.spotify} />
		<Link title='Otros links' logo={Cinco} link={links.podcast} />
		<p class='text-xl font-semibold text-zinc-400 text-center'>-------------</p>

		<Link title='Página web' logo={favicon} link={links.tiktok} bigger/>
	</main>
	<footer class='w-full text-center absolute bottom-2 text-zinc-300'>
		By nico ⚡
	</footer>
</Layout>

<ViewTransitions />
